<footer [ngStyle]="{ 'background-color': '#1A2A44', 'color': '#fff', 'text-align': 'center', 'padding': '1rem' }">
  <div class="footer-container" style="display: flex; justify-content: space-around; align-items: center;">
    <button pButton type="button" icon="pi pi-home" [routerLink]="'/home'" style="background: none; border: none; color: #fff;"></button>
    <button pButton type="button" icon="pi pi-search" [routerLink]="'/search'" style="background: none; border: none; color: #fff;"></button>
    <button pButton type="button" icon="pi pi-shopping-cart" [routerLink]="'/shopping-cart'" style="background: none; border: none; color: #fff;"></button>
    <button pButton type="button" icon="pi pi-heart" [routerLink]="'/wish-list'" style="background: none; border: none; color: #fff;"></button>
    <button pButton type="button" icon="pi pi-user" [routerLink]="'/account'" style="background: none; border: none; color: #fff;"></button>
  </div>
</footer>
