.home-container {
  text-align: center;
  padding: 1rem;
  background-color: #f9e79f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px; /* Espacio para el footer */
}

.header-section {
  position: relative;
}

.logo {
  width: 200px;
}

.slogan {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.product-showcase {
  margin: 1rem 0;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 400px; /* Ajusta según el diseño */
  object-fit: cover;
}

.categories-section {
  margin-top: 2rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.category-item {
  cursor: pointer;
}

.category-item img {
  width: 100%;
  height: auto;
}

.category-item p {
  margin: 0.5rem 0;
}

app-footer {
  flex-shrink: 0; /* Evita que el footer se comprima */
  width: 100%; /* Asegura que ocupe todo el ancho */
}

@media (min-width: 768px) {
  .product-image {
    max-height: 500px; /* Ajuste para pantallas grandes */
  }
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
